html {
	scroll-behavior: smooth;
}

ul li{
	list-style-type: none;
}

a{
	text-decoration: none;
}

#header-top-man-mqn {
	background: #8e4846;
	padding: 10px 10px;
}

.logo {
	width: 100px;
}

.logo img {
	width: 130px;
	float: left;
	margin-right: 65px;
}

.item-img-pro-icon-header-top-mqn img {
	width: 50px;
	float: left;
	margin: 10px 20px 0px 0px;
}

.item-img-pro-icon-header-top-mqn p {
	position: relative;
	top: 19px;
	margin-bottom: 7px;
	font-size: 14px;
	color: white;
}

.left-20 {
	margin-left: 20px;
}

.carousel-inner img {
	height: 450px;
	width: 100%;
}

.navbar {
	margin-bottom: 0px
}

#banner-content-text-pro-mqn-main {
	margin-top: 40px
}

.title-banner-header-pro-mqn-main {
	text-align: center;
}

.title-banner-header-pro-mqn-main h1 {
	font-size: 30px;
	margin: 0 auto;
	display: inline-block;
	margin-bottom: 20px;
	font-weight: bold;
	width: 800px;
	line-height: 40px;
}

.title-banner-header-pro-mqn-main p {
	font-size: 20px;
	margin-bottom: 20px;
}

.item-info-text-pro-mqn-main {
	box-shadow: 0px 2px 10px grey;
	padding: 10px 10px;
	border-radius: 5px;
	height: 160px;
	margin-bottom: -20px;
	margin-top: 60px;
}

.item-info-text-pro-mqn-main i {
	float: left;
	margin: 0 10px 0px 0px;
	font-size: 25px;
	color: #ff4514;
}

.item-info-text-pro-mqn-main h1 {
	font-size: 22px;
	font-weight: bold;
	margin-bottom: 10px;
	margin-top: 0px;
}

.item-info-text-pro-mqn-main p {
	font-size: 16px;
	line-height: 24px;
}

.navbar-nav a {
	text-transform: uppercase;
}

.navbar-nav button {
	margin-top: 8px;
	border: 1px solid grey;
	/* border-radius: 5px; */
	background: white;
	margin-right: 17px;
}

.img-content-banner-pro-mqn img {
	width: 100%;
}

#banner-poster-quangcao-mqn img {
	margin-top: 50px;
	width: 100%;
}

.item-info-product-mqn-pro img {
	width: 100%;
}

.item-info-product-mqn-pro h1 {
	font-weight: bold;
	margin-bottom: 10px;
	font-size: 20px;
}


.item-info-product-mqn-pro p {
	font-size: 16px;
	line-height: 22px;
}

#banner-poster-pro-mqn-images {
	margin-top: 50px;
	clear: both;
	overflow: hidden;
}

#text-banner-top-auto {
	padding: 10px 0px;
	font-size: 20px;
	font-weight: bold;
	width: 100%;
}

#text-banner-top-auto p{
	letter-spacing: 2px;
}

.affix {
	top: 0;
	width: 100%;
	z-index: 9999 !important;
	background: white;
	padding: 10px 10px;
	font-size: 20px;
	font-weight: bold;
}



#banner-video-quang-cao {
	position: relative;
	top: 50px;
}

.item-congtrinh img {
	width: 100%;
	height: 300px;
	object-fit: cover;
}


.item-congtrinh p {
	font-size: 20px;
	font-weight: bold;
	margin-top: 10px;
}

#banner-google-map-pro-mqn {
	height: 100%;
	background: #dad8d8;
	overflow: hidden;
	margin-top: 80px;
}

.item-info-hethong-pro-mqn h1 {
	font-size: 28px;
	font-weight: bold;
	margin-bottom: 10px;
	margin-top: 20px;
}

.item-info-hethong-pro-mqn p {
	margin-bottom: 15px;
	font-size: 18px;
}

.item-info-hethong-pro-mqn button {
	padding: 10px 10px;
	color: white;
	background: #252525;
	border: none;
	border-radius: 30px;
}

#footer-pro-mqn-main {
	position: relative;
	top: 100px;
	background: #e0e0e0;
	clear: both;
	overflow: hidden;
}

.item-footer-info-pro-mqn-main {
	margin-bottom: 50px;
}

.item-footer-info-pro-mqn-main h1 {
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 20px;
	margin-top: 20px;
	text-transform: uppercase;
	line-height: 25px;
	letter-spacing: 0.5px;
}

.item-footer-info-pro-mqn-main p {
	font-size: 16px;
	margin-bottom: 10px;
}


.fab,
.fa {
	margin-right: 10px;
}

.social {
	width: 50%;
}

.item-footer-info-pro-mqn-main2 {
	margin-top: -30px;
}

.item-footer-info-pro-mqn-main2 h1 {
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 20px;
	margin-top: 20px;
	text-transform: uppercase;
	line-height: 25px;
	letter-spacing: 0.5px;
}

.item-footer-info-pro-mqn-main2 ul li {
	float: left;
	list-style-type: none;
	margin-right: 10px;
}

#copyright-pro-mqn-main {
	overflow: hidden;
	clear: both;
	background: grey;
	position: relative;
    margin-top: 100px;
	padding: 10px 10px;
	text-align: center;
	color: white;
}


.buttonTopPro {
	background-color: #da272c;
    position: fixed;
    bottom: 10px;
    right: 10px;
	padding: 15px 18px;
    color: white;
}

.fa-chevron-up{
	text-align: center;
	margin: 0;
	font-size: 20px;
}

.fa-star{
	color:#f62d3e
}


#banner-baocao-pro-mqn-main{
	margin-top: 50px;
}


.item-img-pro-baocao img{
	width: 100%;
}


.content-info-form-baocao h1{
	font-size: 30px;
	font-weight: bold;
	margin-bottom: 20px;
}

.content-info-form-baocao label{
	margin-bottom: 10px;
}

.multiselect-wrapper {
	width: 180px;
	display: inline-block;
	white-space: nowrap;
	font-size: 12px;
	font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
}

.multiselect-wrapper .multiselect-input {
	width: 120px;
	padding-right: 50px;
}

.multiselect-wrapper label {
	display: block;
	font-size: 12px;
	font-weight : 600;
}

.multiselect-wrapper .multiselect-list {
	z-index: 1;
	position: absolute;
	display: none;
	background-color: white;
	border: 1px solid grey;
	border-bottom-left-radius: 2px;
	border-bottom-right-radius: 2px;
	margin-top: -2px;
}

	.multiselect-wrapper .multiselect-list.active {
		display: block;
	}

	.multiselect-wrapper .multiselect-list > span {
		font-weight: bold;
	}

	.multiselect-wrapper .multiselect-list .multiselect-checkbox {
		margin-right: 2px;
	}

	.multiselect-wrapper .multiselect-list > span,
	.multiselect-wrapper .multiselect-list li {
		cursor: default;
	}

.multiselect-wrapper .multiselect-list {
	padding: 5px;
	min-width: 200px;
}

.multiselect-wrapper ul {
	list-style: none;
	display: block;
	position: relative;
	padding: 0px;
	margin: 0px;
	max-height: 200px;
	overflow-y: auto;
	overflow-x: hidden;
}

	.multiselect-wrapper ul li {
		padding-right: 20px;
		display: block;
	}

		.multiselect-wrapper ul li.active {
			background-color: rgb(0, 102, 255);
			color: white;
		}

		.multiselect-wrapper ul li:hover {
			background-color: rgb(0, 102, 255);
			color: white;
		}

.multiselect-input-div {
	height: 34px;
}

	.multiselect-input-div input{
		border: 1px solid #ababab;
		background : #fff;
		margin: 5px 0 6px 0;
		padding: 5px;
		vertical-align:middle;
	}

.multiselect-count {
	position: relative;
	text-align: center;
	border-radius: 2px;
	behavior: url(/Content/Pie/pie.htc);
	background-color: lightblue;
	display: inline-block !important;
	padding: 2px 7px;
	left: -45px;
}

.multiselect-dropdown-arrow {
	width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 5px solid black;
	position: absolute;
	line-height: 20px;
	text-align: center;
	display: inline-block !important;
	margin-top: 17px;
	margin-left: -42px;
}


.fs-wrap {
    display: inline-block;
    cursor: pointer;
    line-height: 1;
    width: 100%;
}

.fs-label-wrap {
    position: relative;
    background-color: #fff;
    border: 1px solid #ddd;
	cursor: default;
	
}

.fs-label-wrap,
.fs-dropdown {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
	user-select: none;
	border-radius: 5px;
    border: 1px solid #cccccc;
}

.fs-label-wrap .fs-label {
    padding:10px 22px 6px 8px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.fs-arrow {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #333;
    position: absolute;
    top: 0;
    right: 5px;
    bottom: 0;
    margin: auto;
    transition: ease-in 0.15s;
}

.fs-open .fs-arrow {
    transform: rotate(-180deg);
}

.fs-dropdown {
    position: absolute;
    background-color: #fff;
    border: 1px solid #ddd;
    width: 200px;
    margin-top: 5px;
    z-index: 1000;
}

.fs-dropdown .fs-options {
    max-height: 200px;
    overflow: auto;
}

.fs-search input {
    border: none !important;
    box-shadow: none !important;
    outline: none;
    padding: 6px 0;
    width: 100%;
}

.fs-option,
.fs-search,
.fs-optgroup-label {
    padding: 6px 8px;
    border-bottom: 1px solid #eee;
    cursor: default;
}

.fs-option:last-child {
    border-bottom: none;
}

.fs-search {
    padding: 0 8px;
}

.fs-no-results {
    padding: 6px 8px;
}

.fs-option {
    cursor: pointer;
    word-break: break-all;
}

.fs-option.disabled {
    opacity: 0.4;
    cursor: default;
}

.fs-option.hl {
    background-color: #f5f5f5;
}

.fs-wrap.multiple .fs-option {
    position: relative;
    padding-left: 30px;
}

.fs-wrap.multiple .fs-checkbox {
    position: absolute;
    display: block;
    width: 30px;
    top: 0;
    left: 0;
    bottom: 0;
}

.fs-wrap.multiple .fs-option .fs-checkbox i {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 14px;
    height: 14px;
    border: 1px solid #aeaeae;
    border-radius: 2px;
    background-color: #fff;
}

.fs-wrap.multiple .fs-option.selected .fs-checkbox i {
    background-color: rgb(17, 169, 17);
    border-color: transparent;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAGCAYAAAD+Bd/7AAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEgAACxIB0t1+/AAAABx0RVh0U29mdHdhcmUAQWRvYmUgRmlyZXdvcmtzIENTNXG14zYAAABMSURBVAiZfc0xDkAAFIPhd2Kr1WRjcAExuIgzGUTIZ/AkImjSofnbNBAfHvzAHjOKNzhiQ42IDFXCDivaaxAJd0xYshT3QqBxqnxeHvhunpu23xnmAAAAAElFTkSuQmCC');
    background-repeat: no-repeat;
    background-position: center;
}

.fs-optgroup-label {
    font-weight: bold;
    text-align: center;
    background-color: #f8f8f8;
}

.hidden {
    display: none;
}


.export{
	padding: 10px 10px;
	background: #1073ec;
	color: white;
	border-radius: 5px;
	border: none;
	float: right;
	margin-right: 10px;
}

.cancel{
	padding: 10px 10px;
	background: #c5221f;
	color: white;
	border-radius: 5px;
	border: none;
	float: right;
}


.content-info-form-baocao ul li{
	list-style-type:none;
}

.content-info-form-baocao img{
	width: 20%;
}

.select-pro-location-mqn-main{
	float: right;
}


.select-pro-location-mqn-main select{
	padding: 5px 10px;
}

.video-livestream-pro-mqn-main p{
	font-size: 28px;
	text-align: center;
    margin-top: 15px;
}

.k-nav-current > .k-link span + span {
    max-width: 200px;
}

#people {
    width: 345px;
    height: 115px;
    position: absolute;
    right: 0;
}
#alex {
    position: absolute;
    left: 4px;
    top: 81px;
}
#bob {
    position: absolute;
    left: 119px;
    top: 81px;
}
#charlie {
    position: absolute;
    left: 234px;
    top: 81px;
}


#example h1{
	text-align: center;
	font-size: 30px;
	font-weight: bold;
	margin-top: 50px;
	margin-bottom: 50px;
}


label{
	margin-bottom: 10px;
}

.modal-title{
	font-size: 20px;
}

.modal-header .close {
    margin-top: -25px;
}


.selectVideoLocation{
	padding: 10px 10px;
    margin-right: 13px;
}


.lichchieu-pro-mqn-main table{
	width: 100%;
}

.lichchieu-pro-mqn-main tr{
	cursor: pointer;
}

.lichchieu-pro-mqn-main table tr th{
	padding: 10px 10px;
    background: #5694b3;
    color: white;
	text-align: center;
	border: 1px solid #5694b3;
}


.lichchieu-pro-mqn-main table tr td{
	padding: 10px 10px;
	text-align: center;
    border: 1px solid #c5c5c5;
}


.TableLichChieuProMqn table{
	display: none;
}